<h1>My cocktails</h1>
<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail.id) %></li>
  <% end %>
  <%= link_to 'add a cocktail', new_cocktail_path %>

</ul>
<%= cl_image_tag("https://res.cloudinary.com/dyij5tnux/image/upload/v1550226915/hhwqszcemrp2gt40y0ws.jpg",
      width: 400, height: 300, crop: :fill) %>
