h1{
  text-align: center;
  font-weight:bold;
}
.box{
  display: flex;
  justify-content: space-around;
  margin-top:50px
}
.description{
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
